body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    text-align: center;
    width: 100%;
}

main {
    width: 100%;
    margin: 20px 0;
}

.tabs {
    overflow: hidden;
    background-color: #f1f1f1;
}

.tabs button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.tabs button:hover {
    background-color: #ddd;
}

.tabs button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 20px;
    border-top: none;
}

.sidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    float: left;
}

.content {
    width: 75%;
    padding: 15px;
    float: left;
}

.sidebar a {
    display: block;
    color: #000;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}

.sidebar a:hover {
    background-color: #ddd;
}

.form-container {
    display: none;
}

form {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.record-container {
    width: 100%;
    margin: 20px 0;
}

.record-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.record {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}